.conainerMain{
    display: flex;
    flex-direction: column;
    background-color:#3c3c3c;
    padding: 20px;
}
.heading{
    color: white;
}
.container{
    display: flex;
    flex-direction:row;
    background-color:#626262;
    opacity: 0.7;
    margin-bottom: 20px;
}
.containerRectangle{
    flex:3;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.containerPieChart{
    flex:2;
}
.secondContainer{
    display: flex;
    flex-direction:row;
    background-color:#626262;
    opacity: 0.7;
    padding: 10px;
}
.transactionsContainer{
 flex:2;
 margin: 10px;
}

.barchartContainer{
flex:1;
}

